@{
   Layout = "_Main";
}
@await Component.InvokeAsync("Notyf")
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-Gray Dark" style="margin-top:90px" class="display-6">WB2022-135-TransportManagement</h1>
        <br />
    </div>
</div>
